<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

<div class="container text-center">
    <h1>Password Generator</h1>

    <form action="{% url 'password' %}">
        <select name="length">
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option selected="selected" value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
        </select> Length
        <br>
        <input name="uppercase" type="checkbox"> Uppercase
        <br>
        <input name="numbers" type="checkbox"> Numbers
        <br>
        <input name="special" type="checkbox"> Special Characters
        <br>
        <br>

        <input type="submit" value="Generate Password" class="btn btn-dark">

    </form>
</div>
